@model IEnumerable<StockManager.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mb-4">Distribuidores</h2>


<table class="table table-hover">
    <tr class="text-center bg-dark">
        <th class="text-white">
            DISTRIBUIDOR
        </th>
        <th class="text-white">
            DIRECCIÓN
        </th>
        <th class="text-white">
            TELEFONO
        </th>
        <th class="text-white">
            CORREO
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.SupplierID })" class="btn btn-outline-secondary">&#9999</a>
            <a href="@Url.Action("Details", new { id = item.SupplierID })" class="btn btn-outline-info text-white">&#128269</a>
            <a href="@Url.Action("Delete", new { id = item.SupplierID })" class="btn btn-outline-danger">&#10060</a>
        </td>
    </tr>
}

</table>
<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Crear</a>
</p>
