@model IEnumerable<StockManager.Models.Sales>

@{
    ViewBag.Title = "VistaVentas";
}

<h2 class="text-center mb-4">Reporte de Ventas</h2>

@using(Html.BeginForm("VistaVentas", "ReporteVentas", FormMethod.Get))
{
    <div class="mb-4">
        <label for="FechaInicio">Fecha de Inicio:</label>
        <input type="date" id="FechaInicio" name="fechaInicio">
        <label for="FechaFin">Fecha de Fin:</label>
        <input type="date" id="FechaFin" name="fechaFin">
        <button type="submit">Filtrar</button>
    </div>
}

<table class="table table-hover">
    <tr class="text-center bg-dark">
        <th class="text-white">
            FECHA
        </th>
        <th class="text-white">
            TOTAL
        </th>
        <th class="text-white">
            CLIENTE
        </th>
        <th class="text-white">
            EMPLEADO
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
    </tr>
}

</table>
<div class="mb-3">
    <a class="btn btn-outline-danger" href="@Url.Action("VistaReporteVentas", new { id = "pdf" })">
        &#128196;
    </a>
    <a class="btn btn-outline-success" href="@Url.Action("VistaReporteVentas", new { id = "Excel" })">
        &#128202;
    </a>
    <a class="btn btn-outline-primary" href="@Url.Action("VistaReporteVentas", new { id = "Word" })">
        &#128221;
    </a>
</div>
