@model IEnumerable<StockManager.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mb-4">Usuarios</h2>


<table class="table table-hover">
    <tr class="text-center bg-dark">
        <th class="text-white">
            CONTRASEÑA
        </th>
        <th class="text-white">
            ROL
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.UserID })" class="btn btn-outline-secondary">&#9999</a>
            <a href="@Url.Action("Details", new { id = item.UserID })" class="btn btn-outline-info text-white">&#128269</a>
            <a href="@Url.Action("Delete", new { id = item.UserID })" class="btn btn-outline-danger">&#10060</a>
        </td>
    </tr>
}

</table>
<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Crear</a>
</p>
